{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        <div class="col-xs-12 home-page">
            <div class="jumbotron">
                <div class="row display-flex">
                    {% for query_set in pics %}
                         {% for photo in query_set %} 
                            {% if forloop.first %}  
                                <div class="col-xs-12">
                                    <h2>{{photo.image_category | title}}</h2>                                                                        
                                </div>
                            {% endif %}             
                             <div class="col-xs-12 col-sm-6 col-md-4 cards">
                                 <div class="card">
                                     <img class="card-img-top" src="{{photo.image_url.url}}" alt="Card image cap">
                                     <div class="card-body">
                                         <h4 class="card-title">{{photo.image_name}}</h4>
                                         <h5 class="card-subtitle mb-2 text-muted">{{photo.post_date}}</h5>                                                                    
                                       </div>
                                   </div>
                             </div>
             
                         {% empty %}
             
                         {% endfor %}
                    {% empty %}
             
                    {% endfor %}
                 </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}