{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        <div class="col-xs-12 home-page">
            <div class="jumbotron">
                <div class="row display-flex">
                    <div class="col-xs-12">
                        <h2><b>{{location.location_name}}</b></h2>
                        <hr>
                    </div>
                    {% for photo in photos %}  

                    <div class="col-xs-12 col-sm-6 col-md-4 cards">
                        <div class="card">
                            <!--Trigger modal-->
                            <a data-toggle="modal" data-target="#{{photo.id}}"><img class="card-img-top" src="{{photo.image_url.url}}" alt="{{photo.image_name}}"></a>


                            <!-- Modal -->
                            <div class="modal fade" id="{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-xlg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">                                            
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h3 class="modal-title" id="exampleModalLongTitle">{{photo.image_name}}</h3>
                                        </div>

                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-8">
                                                        <img src="{{photo.image_url.url}}" alt="{{photo.image_name}}"> 
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <h4><b>{{photo.image_category}}</b></h4>
                                                        <h4 class="text-muted">{{photo.image_location}}</h4>
                                                        <p><b>"</b>{{photo.image_description}}<b>"</b></p><br>
                                                        <h5><b>{{photo.post_date}}</b></h5>
                                                        <input type="text" value="https://mybilderapp.herokuapp.com/photo/{{photo.id}}" id="{{photo.image_url}}" class="offscreen" aria-hidden="true">
                                                        <div class="{{photo.image_url}}"></div>
                                                        <button class="btn shareButton" onclick="copyFunction('{{photo.image_url}}')"><b>Share </b><span class="fa fa-share-alt"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>


                            <div class="card-body">
                                <h4 class="card-title">{{photo.image_name}}</h4>
                                <h5 class="card-subtitle mb-2 text-muted">{{photo.post_date}}</h5>                                                                    
                            </div>
                        </div>
                    </div>          
                        
                    {% empty %}
             
                    {% endfor %}
                 </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}